<% recipes = object.children_by_type(:recipe) %>
<% if recipes.size > 0 %>
  <h2>Recipe Details</h2>
  <% recipes.each_with_index do |recipe, i| %>
    <div class="method_details <%= 'first' if i == 0 %>">
      <h3 class="signature"><a name="<%= recipe.name %>">
        <strong><%= recipe.name %></strong>
      </a></h3>
      <%= htmlify recipe.docstring %>
      <%= yieldall :object => recipe, :owner => object, :index => i %>
    </div>
  <% end %>
<% end %>
