<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Display Name</th>
      <th>Description</th>
      <th>Default</th>
      <th>Recipes</th>
      <th>Choice</th>
      <th>Required</th>
    </tr>
  </thead>
  <tbody>
    <% n = 1 %>
    <% @objects.each do |attribute| %>
      <tr class="r<%= n %>">
        <td><%= attribute.Name %></a></td>
        <td><%= attribute.display_name %></td>
        <td><%= attribute.description %></td>
        <td><%= attribute.default %></td> 
        <td><%= attribute.recipes %></td>
        <td><%= attribute.choice %></td>
        <td><%= attribute.required %></td>
      </tr>
      <% n = n == 2 ? 1 : 2 %>
    <% end %>
  </tbody>
</table>
