<% resources = object.resources %>
<% if resources.size > 0 %>
  <h2>Resources Summary</h2>
  <% resources.each do |resource| %>
    <h3><%= resource.class_name %></h3>
    <ul>
      <li><h4>Actions List</h4>
      <div>
        <%= resource.actions.join(", ") %>
      </div></li>
      <li><h4>Attributes Summary</h4>
      <% attributes = resource.children_by_type(:attribute) %>
      <% if attributes.size > 0 %>
        <ul class="summary">
          <% attributes.each do |attribute| %>
            <li>
              <span class="summary_signature">
                <strong><%= attribute.name %></strong>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= attribute.source %>)
              </span>
              <span class="summary_desc"><%= attribute.description %></span>
            </li>
          <% end %>
        </ul>
      <% end %></li>
    </ul>
  <% end %>
<% end %>
