<% actions = get_items_of_cookbook(@actions, @cookbook) %>
<% if !actions[0].empty? %>
  <div class = "multiline">
    <h3>Actions</h3>
    <% actions[1].each do |namespace| %>
      <h4>Provider Name : <%= namespace.to_s.split('::')[2] %></h4>
      <table style="width:580px;" border="1">
        <thead>
          <tr>
            <th class="even">Action</th>
            <th class="odd">Description</th>
          </tr>
        </thead>
        <tbody>
          <% actions[0].each do |action| %>
            <tr class="">
              <% if action.namespace == namespace %>
                <td><a href="<%= @cookbook.name.to_s %>.html#<%= action.name.to_s %>-instance_<%= action.type %>"><%= action.name.to_s %></a></td>
                <td><%= action.docstring.to_s %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>
