<% attributes = get_items_of_cookbook(@attributes, @cookbook) %>
<% if !attributes[1].empty? %>
  <div class = "multiline">
    <h3>Attributes</h3>
    <% attributes[1].each do |namespace| %>
      <h4>Resource Name : <%= namespace.to_s.split('::')[2] %></h4>
      <table style="width:580px;" border="1">
        <thead>
          <tr>
            <th class="even">Attribute</th>
            <th class="odd">Description</th>
            <th>Default</th>
            <th>Kind Of</th>
            <th>Required</th>
            <th>Regex</th>
            <th>Equal To</th>
            <th>Name Attribute</th>
            <th>Callbacks</th>
            <th>Respond To</th>
          </tr>
        </thead>
        <tbody>
          <% attributes[0].each do |attrib| %>
            <tr class="">
              <% if attrib.namespace == namespace %>
                <td><a href="<%= @cookbook.name.to_s %>.html#<%= attrib.name.to_s %>-instance_<%= attrib.type %>"><%= attrib.name.to_s %></a></td>
                <td><%= attrib.docstring.to_s %></td>
                <td><%= attrib.default %></td>
                <td><%= attrib.kind_of %></td>
                <td><%= attrib.required %></td>
                <td><%= attrib.regex %></td>
                <td><%= attrib.equal_to %></td>
                <td><%= attrib.name_attribute %></td>
                <td><%= attrib.callbacks %></td>
                <td><%= attrib.respond_to %></td>    
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>
