<% n = 1 %>
<% @items.each do |item| %>
  <li class="r<%= n %>">
    <span class="object_link">
      <% path_arr = item.path.split('::') %>
      <a href="<%= path_arr[0] %>/<%= path_arr[1] %>.html#<%= h(item.name) %>-instance_action" title="<%= item.parent.namespace %>#<%= h(item.name) %> (action)"><%= h(item.name) %></a>
    </span>
    <small><%= item.namespace.to_s.split('~')[0] %></small>
  </li>
  <% n = n == 2 ? 1 : 2 %>
<% end %>
