<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>" />
    <title>Lightweight Resources and Providers</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="css/common.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    <h3>RightScale</h3>
    <hr>
    <ul>
      <% @cookbooks.each do |cookbook| %>
        <% @cookbook = cookbook %>
      <li>
        <h4><%= cookbook.name.to_s %></h4>
        <p><%= cookbook.docstring %></p>
        <%= erb(:action_table) %>
        <%= erb(:attribute_table) %>
      </li>  
      <% end %>
    </ul>
  </body>
</html>
