<% attributes = object.children_by_type(:attribute) %>
<% if attributes.size > 0 %>
  <h3>Attributes</h3>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
        <th>Default</th>
        <th>Kind Of</th>
        <th>Required</th>
        <th>Regex</th>
        <th>Equal To</th>
        <th>Name Attribute</th>
        <th>Callbacks</th>
        <th>Respond To</th>
      </tr>
    </thead>
    <tbody>
      <% n = 1 %>
      <% attributes.each do |attrib| %>
        <tr class="r<%= n %>">
          <td><%= attrib.name.to_s %></td>
          <td><%= attrib.docstring.to_s %></td>
          <td><%= attrib.default %></td>
          <td><%= attrib.kind_of %></td>
          <td><%= attrib.required %></td>
          <td><%= attrib.regex %></td>
          <td><%= attrib.equal_to %></td>
          <td><%= attrib.name_attribute %></td>
          <td><%= attrib.callbacks %></td>
          <td><%= attrib.respond_to %></td>    
        </tr>
        <% n = n == 2 ? 1 : 2 %>
      <% end %>
    </tbody>
  </table>
<% end %>
