<% attributes = get_items_by_type(object, :attribute) %>
<% if attributes.size > 0 %>
  <h4>Attributes</h4>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
        <th>Default</th>
        <th>Kind Of</th>
        <th>Required</th>
        <th>Regex</th>
        <th>Equal To</th>
        <th>Name Attribute</th>
        <th>Callbacks</th>
        <th>Respond To</th>
      </tr>
    </thead>
    <tbody>
      <% n = 1 %>
      <% attributes.each do |attrib| %>
        <tr class="r<%= n %>">
          <td><a href="Chef/Resource.html"><%= htmlify(attrib.name.to_s) %></a></td>
          <td><%= htmlify(attrib.docstring.to_s) %></td>
          <td><%= htmlify(attrib.default) %></td>
          <td><%= htmlify(attrib.kind_of) %></td>
          <td><%= htmlify(attrib.required) %></td>
          <td><%= htmlify(attrib.regex) %></td>
          <td><%= htmlify(attrib.equal_to) %></td>
          <td><%= htmlify(attrib.name_attribute) %></td>
          <td><%= htmlify(attrib.callbacks) %></td>
          <td><%= htmlify(attrib.respond_to) %></td>    
        </tr>
        <% n = n == 2 ? 1 : 2 %>
      <% end %>
    </tbody>
  </table>
<% end %>
