<% providers = get_items_of_type(@cookbook, :provider) %>
<% if providers.size > 0 %>
  <div class = "multiline">
    <h3>Actions</h3>
    <% providers.each do |provider| %>
      <h4>Provider Name : <%= provider.name.to_s.split('~')[0] %></h4>
      <table>
        <thead>
          <tr>
            <th>Action</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% n = 1 %>
          <% provider.children.each do |action| %>
            <tr class="r<%= n %>">
              <td><a href="RightScale/<%= @cookbook.name.to_s %>.html#<%= action.name.to_s %>-instance_<%= action.type %>"><%= htmlify(action.name.to_s) %></a></td>
              <td><%= htmlify(action.docstring.to_s) %></td>
            </tr>
          <% n = n == 2 ? 1 : 2 %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>
