<% resources = get_items_of_type(@cookbook, :resource) %>
<% cookbook_attrib = get_items_of_type(@cookbook, :attribute) %>
<% if resources.size > 0 or cookbook_attrib.size > 0 %>
  <div class = "multiline">
    <h3>Attributes</h3>
    <% if !cookbook_attrib.empty? %>
      <h4>Cookbook Level Attributes</h4>
      <table>
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Display Name</th>
            <th>Description</th>
            <th>Default</th>
            <th>Recipes</th>
            <th>Choice</th>
            <th>Required</th>
          </tr>
        </thead>
        <tbody>
          <% n = 1 %>
          <% cookbook_attrib.each do |attrib| %>
            <tr class="r<%= n %>">
              <td><a href="RightScale/<%= @cookbook.name.to_s %>.html#<%= attrib.name.to_s %>-instance_<%= attrib.type %>"><%= htmlify(attrib.name.to_s) %></a></td>
              <td><%= htmlify(attrib.display_name) %></td>
              <td><%= htmlify(attrib.description) %></td>
              <td><%= htmlify(attrib.default) %></td>
              <td><%= htmlify(attrib.recipes) %></td>
              <td><%= htmlify(attrib.choice) %></td>
              <td><%= htmlify(attrib.required) %></td>
            </tr>
          <% n = n == 2 ? 1 : 2 %>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <% if resources.size > 0 %>
      <% resources.each do |resource| %>
        <h4>Resource Name : <%= resource.name.to_s.split('~')[0] %></h4>
        <table>
          <thead>
            <tr>
              <th>Attribute</th>
              <th>Description</th>
              <th>Default</th>
              <th>Kind Of</th>
              <th>Required</th>
              <th>Regex</th>
              <th>Equal To</th>
              <th>Name Attribute</th>
              <th>Callbacks</th>
              <th>Respond To</th>
            </tr>
          </thead>
          <tbody>
            <% n = 1 %>
            <% resource.children.each do |attrib| %>
              <tr class="r<%= n %>">
                <td><a href="RightScale/<%= @cookbook.name.to_s %>.html#<%= attrib.name.to_s %>-instance_<%= attrib.type %>"><%= htmlify(attrib.name.to_s) %></a></td>
                <td><%= htmlify(attrib.docstring.to_s) %></td>
                <td><%= htmlify(attrib.default) %></td>
                <td><%= htmlify(attrib.kind_of) %></td>
                <td><%= htmlify(attrib.required) %></td>
                <td><%= htmlify(attrib.regex) %></td>
                <td><%= htmlify(attrib.equal_to) %></td>
                <td><%= htmlify(attrib.name_attribute) %></td>
                <td><%= htmlify(attrib.callbacks) %></td>
                <td><%= htmlify(attrib.respond_to) %></td>    
              </tr>
            <% n = n == 2 ? 1 : 2 %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
<% end %>
