<% actions = items_of_type(@cookbook, :action) %>
<% if !actions.empty? %>
  <div class = "multiline">
    <h4>Actions</h4>
    <table style="width:580px;" border="1">
      <thead>
        <tr>
          <th class="even">Action</th>
          <th class="odd">Description</th>
        </tr>
      </thead>
      <tbody>
      <% n = 1 %>
      <% actions.each do |action| %>
        <tr class="r<%= n %>">
          <td><a href="<%= @cookbook.name.to_s %>.html#<%= action.name.to_s %>-instance_<%= action.type %>"><%= action.name.to_s %></a></td>
          <td><%= action.docstring.to_s %></td>
        </tr>
        <% n = n == 2 ? 1 : 2 %>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
