<% attribs = items_of_type(@cookbook, :attribute) %>
<% if !attribs.empty? %>
  <div>      
    <h4>Attributes</h4>
    <table style="" border="1">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Description</th>
          <th>Default</th>
          <th>Kind Of</th>
          <th>Required</th>
          <th>Regex</th>
          <th>Equal To</th>
          <th>Name Attributes</th>
          <th>Callbacks</th>
          <th>Respond To</th>
        </tr>
      </thead>
      <tbody>
      <% attribs.each do |attrib| %>
        <tr>
          <td><a href="<%= @cookbook.name.to_s %>.html#<%= attrib.name.to_s %>-instance_<%= attrib.type %>"><%= attrib.name.to_s %></a></td>
          <td><%= attrib.docstring.to_s %></td>
          <td><%= attrib.default %></td>
          <td><%= attrib.kind_of %></td>
          <td><%= attrib.required %></td>
          <td><%= attrib.regex %></td>
          <td><%= attrib.equal_to %></td>
          <td><%= attrib.name_attribute %></td>
          <td><%= attrib.callbacks %></td>
          <td><%= attrib.respond_to %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
